.bg-gradient-primary {
    background-color: #D48A38;
    background-image: none  
}

.btn-primary:hover {
    background-color: #F48A38;
}

.link-hedwig {
    color: #858796;
    position: relative;
    z-index: 10;
}

.link-hedwig:hover {
    color: #858796;
    text-decoration: none;
    z-index: 20;
}

.link-hedwig:hover .card{
    background-color: #F48A38;
    color: #fff;
    border: 1px solid #F48A38;
    transform: scale(1.2);
    transition: all .3s
}

.border-hedwig {
    border-left: 10px solid #5A8DA9;
    border-right: 10px solid #5A8DA9;
}

.bg-hedwig {
    background-color: #5A8DA9;
}
.bg-hedwig-sec {
    background-color: #D48A38;
}

.text-hedwig {
    color: #5A8DA9;
}

.text-hedwig-sec {
    color: #D48A38
}

.text-hedwig-ter {
    color: #873413;
}

.navbar {
    background-color: #5A8DA9;
    background-image: none;
}